@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
}
header{
    background-color: #FAFAFA;
    height: 100vh;
}
.logo{
    height: 5%;
    padding-top: 6%;
    display:flex;
    justify-content:center;
    align-items:baseline;
}
.meet-logo{
    height: 30px;
    width: 10%;
    /* border: 2px solid red;; */
}
/* heros */
section{
    height: fit-content;
    margin-top: 3%;
}
.heros{
    display:flex;
    justify-content: center;
    overflow-x: hidden;
    /* height:100%; */
}
.first-images{

    padding-top: 2%;
   
}
.left-heros{
   
    margin-left: -7%;
    width: 100%;
}
.second-images{
    padding-top: 5%;
}
.right-heros{
    margin-left:7%;
    width: 100%;
}
/* text */
.text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.bigtext{
    font-family:"Red Hat Display";
    text-align: center;
    width: 65%;
    font-size: 60px;
    line-height: 1.6cm;
    font-weight: 900;
    color:#28283D;
    text-shadow:2px 2px 8px #FFFF;
    margin-bottom: 25px;
    
}
.smalltext{
    width:75%; 
    font-size: 15px;
    font-family: "Red Hat Display";
    font-weight: 500;
    color:#87879D;
    margin-bottom: 25px;
    text-align: center;
}
.div-button{
    width: 70%;
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
    
}
.button1{
    border:none;
    background: #4D96A9;
    color:white;
    padding: 15px 30px;
    border-radius: 23px;
    font-family:"Red Hat Display";
    font-weight: 500;
    cursor: pointer;
}
.button1 span{
    color: #8FE3F9;
}
.button1:hover{
    background: #71C0D4;
}
.button2{
    border:none;
    background: #855FB1;
    color:white;
    padding:  15px 30px;
    border-radius: 23px;
    font-family:"Red Hat Display";
    font-weight: 500;
    cursor: pointer;
}
.button2:hover{
    background-color: #B18BDD;
}
.text-section2{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


/* page one */
.div-page1{
    border:2px solid green;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap:2rem;
    background-color: #FAFAFA;

}
.page1{
    /* border:2px solid red; */
    

}
.page1 svg{
    width: 46px;
}
.div-meetingImage{
    /* border:2px solid green */
    

}
.meetingImage{
    width: 80%;
    margin:auto;
    /* border:2px solid blue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:.8rem;

}
.meetingImage img{
    width:95%;
    border-radius: 7px;    

}
.meeting-text{
    border:2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.coloredpix{
    font-family:"Red Hat Display";
    text-align: center;
    width: 65%;
    border:2px solid yellow;
    color: #4D96A9;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 1cm;
    font-weight: 900;
    text-shadow:2px 2px 8px #FFFF;
    margin-bottom: 5px;

}
.Smarter{
    font-family:"Red Hat Display";
    text-align: center;
    width: 33%;
    font-size: 36px;
    line-height: 1cm;
    font-weight: 900;
    color:#28283D;
    letter-spacing: -1px;
    text-shadow:2px 2px 8px #FFFF;
    margin-bottom: 25px;
    border:2px solid red;
}
.Sendmessages{

}
/* *Navigation for mobile devices */
@media only screen and (min-width: 200px) and (max-width: 767px)  {

    .logo{
        height: 5%;
        padding-top: 6%;
        display:flex;
        justify-content:center;
        align-items:baseline;
        /* border:2px solid red; */
    }
    .meet-logo{
        height: 35px;
        width: 100%;
        /* border:2px solid yellow; */
        width:30%;
   
    }
    .text-section{
        /* display: hidden; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border:2px solid red; */
        
    }

}
/* ipad */
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
    .logo{
        height: 5%;
        padding-top: 7%;
        display:flex;
        justify-content:center;
        align-items:baseline;
        /* border:2px solid green; */
      
    }
    .meet-logo{
        height: 50px;
        /* width: 100%; */
        width:25%;
        display: flex;
        justify-self: center;
        /* border:2px solid green; */
   
    }
    .text-section{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .text-section2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        
    }
    .bigtext{
        font-family:"Red Hat Display";
        text-align: center;
        width: 65%;
        font-size: 80px;
        line-height: 2cm;
        font-weight: 900;
        color:#28283D;
        text-shadow:2px 2px 8px #FFFF;
        margin-bottom: 20px;
        
    }
    .smalltext{
        width:60%; 
        font-size: 18px;
        font-family: "Red Hat Display";
        font-weight: 500;
        color:#87879D;
        margin-bottom: 25px;
        text-align: center;
    }
    .div-button{
        width: 70%;
        display: flex;
        flex-direction: column;
        gap:1.5rem;
        justify-content: center;
        align-items: center;
        
    }
    .button1{
        border:none;
        background: #4D96A9;
        color:white;
        padding: 15px 65px;
        border-radius: 23px;
        font-size: 25px;
        font-family:"Red Hat Display";
        font-weight: 500;
        cursor: pointer;
    }
    
    .button1 span{
        color: #8FE3F9;
    }
    .button1:hover{
        background: #71C0D4;
    }
    .button2{
        border:none;
        background:#855FB1;
        color:white;
        padding:  15px 35px;
        border-radius: 23px;
        font-family:"Red Hat Display";
        font-weight: 500;
        cursor: pointer;
        font-size: 25px;
    }
    .button2:hover{
        background-color: #B18BDD;
    }
}
/* landscape */
@media only screen and (min-width: 200px) and (max-width: 767px) and (orientation : portrait) {
    .logo{
        height: 5%;
        padding-top: 5%;
        display:flex;
        justify-content:center;
        align-items:baseline;
        /* border:2px solid red; */
    }
    .meet-logo{
        height: 40px;
        width: 100%;
        width:30%;
        /* border:2px solid blue; */
    }

  
    .heros{
        display:flex;
        justify-content: center;
        overflow-x: hidden;
        /* height:100%; */
    }

     /* text */
    .text-section{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .text-section2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
        
    }
  
    .bigtext{
        font-family:"Red Hat Display";
        text-align: center;
        width: 60%;
        font-size: 35px;
        line-height: 1cm;
        font-weight: 900;
        color:#28283D;
        text-shadow:2px 2px 8px #FFFF;
        margin-bottom: 20px;
        
    }
    .smalltext{
        width:80%; 
        font-size: 15px;
        font-family: "Red Hat Display";
        font-weight: 500;
        color:#87879D;
        margin-bottom: 25px;
        text-align: center;
    }
    .div-button{
        width: 70%;
        display: flex;
        flex-direction: column;
        gap:1.5rem;
        justify-content: center;
        align-items: center;
        
    }
    .button1{
        border:none;
        background: #4D96A9;
        color:white;
        padding: 15px 45px;
        border-radius: 23px;
        font-family:"Red Hat Display";
        font-weight: 500;
        cursor: pointer;
    }
    
    .button1 span{
        color: #8FE3F9;
    }
    .button1:hover{
        background: #71C0D4;
    }
    .button2{
        border:none;
        background:#855FB1;
        color:white;
        padding:  15px 35px;
        border-radius: 23px;
        font-family:"Red Hat Display";
        font-weight: 500;
        cursor: pointer;
    }
    .button2:hover{
        background-color: #B18BDD;
    }
}

